{% load static %}

<!-- ##### Follow Us Instagram Area Start ##### -->
<div class="follow-us-instagram">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5>Bizni Instagramda kuzating</h5>
            </div>
        </div>
    </div>
    <!-- Instagram Feeds -->
    <div class="insta-feeds d-flex flex-wrap">
        <!-- Single Insta Feeds -->
        <div class="single-insta-feeds">
            <img src="{% static 'img/bg-img/inst1.jpg' %}" alt="" style="height: 150px">
            <!-- Icon -->
            <div class="insta-icon">
                <a href="https://www.instagram.com/xushvaqtovahmad98/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Single Insta Feeds -->
        <div class="single-insta-feeds">
            <img src="{% static 'img/bg-img/inst2.jpg' %}" alt="" style="height: 150px">
            <!-- Icon -->
            <div class="insta-icon">
                <a href="https://www.instagram.com/xushvaqtovahmad98/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Single Insta Feeds -->
        <div class="single-insta-feeds">
            <img src="{% static 'img/bg-img/inst3.jpg' %}" alt="" style="height: 150px">
            <!-- Icon -->
            <div class="insta-icon">
                <a href="https://www.instagram.com/xushvaqtovahmad98/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Single Insta Feeds -->
        <div class="single-insta-feeds">
            <img src="{% static 'img/bg-img/inst4.jpg' %}" alt="" style="height: 150px">
            <!-- Icon -->
            <div class="insta-icon">
                <a href="https://www.instagram.com/xushvaqtovahmad98/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Single Insta Feeds -->
        <div class="single-insta-feeds">
            <img src="{% static 'img/bg-img/inst5.jpg' %}" alt="" style="height: 150px">
            <!-- Icon -->
            <div class="insta-icon">
                <a href="https://www.instagram.com/xushvaqtovahmad98/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Single Insta Feeds -->
        <div class="single-insta-feeds">
            <img src="{% static 'img/bg-img/inst6.jpg' %}" alt="" style="height: 150px">
            <!-- Icon -->
            <div class="insta-icon">
                <a href="https://www.instagram.com/xushvaqtovahmad98/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Single Insta Feeds -->
        <div class="single-insta-feeds">
            <img src="{% static 'img/bg-img/inst7.jpg' %}" alt="" style="height: 150px">
            <!-- Icon -->
            <div class="insta-icon">
                <a href="https://www.instagram.com/xushvaqtovahmad98/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- ##### Follow Us Instagram Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area" style="background: whitesmoke">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                <!-- Footer Social Info -->
                <div class="footer-social-info text-right">
                    <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <!-- Footer Logo -->
                <div class="footer-logo">
                    <a class="nav-brand" href="{% url 'home' %}"><img src="{% static 'img/core-img/logo2.png' %}" alt=""></a>
                </div>
                <!-- Copywrite -->
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by
                    <a href="https://t.me/ahmad_xushvaqtov" target="_blank">XAN</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area Start ##### -->

<!-- ##### All Javascript Files ##### -->
<!-- jQuery-2.2.4 js -->
<script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<!-- All Plugins js -->
<script src="{% static 'js/plugins/plugins.js' %}"></script>
<!-- Active js -->
<script src="{% static 'js/active.js' %}"></script>
